#

# COMANDOS E CONCEITOS BASICOS DE SQL
- O SQL (Structured Query Languege) é a linguagem padrão para interagir com bancos de dados relacionais. Eele permite que execute diversar operações como consultar dados, manipular dados, criar e gerenciar tabelas

# Consulta de Dados:
- __SELECT__: Recupera dados de uma ou mais tabelas.
    - EX: __SELECT * FROM clientes__ (seleciona todas as colunas da tabela clientes)
- __WHERE__: Filtra os resultados da consulta com base em condições especificas.
    - EX: __SELECT * FROM clientes WHERE cidade = 'salvador'__; (seleciona os cliente da cidade "salvador")
- __ORDER BY__: Ordena os resultados da consulta por uma ou mais colunas
    - EX: __SELECT * FROM clientes ORDER BY nome ASC__; (Ordena clientes por nome em ordem crescente)
- __JOIN__: Combina dados de duas ou mais tabelas com base em colunas relacionadas
    - EX: __SELECT c.nome, p.produto FROM cliente c JOIN pedidos p ON c.id = p.clientes_id;

# Manipular Dados: 
- __INSERT__: Adiciona novos registros a uma tabela
    - EX: __INSERT INTO clientes (nome, cidade) VALUES ('guilherme','salvador')__; (adiciona um novo cliente)
- __UPDATE__: Modifica registros existentes em uma tabela
    - EX: __UPDATE clientes SET cidade = 'Rio de janeiro' WHERE id = 10__;(Atualiza a cidade de um cliente com ID 10)
- __DELETE__: Remove registros de uma tabela
    - EX: __DELETE FROM clientes WHERE cidade = 'salvador';__ (Remove todos os clientes da cidade salvador)

# Criar e Gerenciar Tabelas
- __CREATE TABLE__ : Cria uma nova tabela com colunas e seus tipos de dados
    - EX: __CREATE TABLE clientes (id INT PRIMARY KEY, nome VARCHAR (255), cidade VARCHAR(255))__; (Cria uma tabela __clientes__ com colunas __id__, __nome__ e __cidade__)
- __ALTER TABLE__: Modifica a estrutura de uma tabela existente
    - EX: __ALTER TABLE clientes ADD COLUNM email VARCHAR(255);__ (adiciona uma nova coluna __email__ a tabela __clientes__)
- __DROP TABLE__: Exclui uma tabela do banco de dados
    - EX: __DROP TABLE clientes;__ (Exclui a tabela __clientes__)

#